In [108]:
import numpy as np
import pandas as pd

In [109]:
df = pd.read_csv('books.csv')

In [110]:
df.head()

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,0
1,40,19501,19501,3352398,185,143038419,9.780143e+12,Elizabeth Gilbert,2006.0,"Eat, pray, love: one woman's search for everyt...",...,1206597,49714,100373,149549,310212,332191,314272,https://images.gr-assets.com/books/1503066414m...,https://images.gr-assets.com/books/1503066414s...,0
2,81,7445,7445,2944133,92,074324754X,9.780743e+12,Jeannette Walls,2005.0,The Glass Castle,...,637866,40777,7901,18922,85191,227750,298102,https://images.gr-assets.com/books/1400930557m...,https://images.gr-assets.com/books/1400930557s...,0
3,82,1845,1845,3284484,108,385486804,9.780385e+12,Jon Krakauer,1996.0,Into the Wild,...,665377,17299,19229,35567,135199,248287,227095,https://images.gr-assets.com/books/1403173986m...,https://images.gr-assets.com/books/1403173986s...,0
4,87,1617,1617,265616,109,374500010,9.780375e+12,"Elie Wiesel, Marion Wiesel",1958.0,Un di Velt Hot Geshvign,...,707879,22001,7761,18539,90575,230227,360777,https://images.gr-assets.com/books/1473495285m...,https://images.gr-assets.com/books/1473495285s...,0

# Q1 How many rows and columns are there in books.csv dataset?

In [113]:
lst = df.shape

In [122]:
print(f'Number of Columns is {lst[1]} and Number of Rows is {lst[0]}')

Number of Columns is 24 and Number of Rows is 399

# Q2 How many books do not have an original title?

In [121]:
print("Number of empty original title :",df["original_title"].isnull().sum())

Number of empty original title : 36

# Q3 How many unique books are present in the dataset ?

In [116]:
print("The number of unique books :",len(df.original_title.unique()))

The number of unique books : 364

# Q4 What is the average rating of all the books in the dataset based on â€˜average_ratingâ€™?

In [117]:
print("The Avarage rating of all the books is",df["average_rating"].mean())

The Avarage rating of all the books is 3.9837844611528843

# Q5 Find the number of books published in the year â€˜2000â€™ based on the â€˜original_publication_yearâ€™.

In [118]:
print("Number of books published in the year 2000 :",df["original_publication_year"].value_counts()[2000.0])

Number of books published in the year 2000 : 8

# Q6 Which book (title) has the maximum number of ratings based on â€˜work_ratings_countâ€™.

In [119]:
work_ratings_count = df["work_ratings_count"].max()

In [120]:
df.loc[df['work_ratings_count'] == work_ratings_count]

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url,NonEnglish
0,15,48855,48855,3532896,710,553296981,9.780553e+12,"Anne Frank, Eleanor Roosevelt, B.M. Mooyaart-D...",1947.0,Het Achterhuis: Dagboekbrieven 14 juni 1942 - ...,...,2024493,20825,45225,91270,355756,656870,875372,https://images.gr-assets.com/books/1358276407m...,https://images.gr-assets.com/books/1358276407s...,0

In [107]:
print(filtered["original_title"].to_string(index=False))

Het Achterhuis: Dagboekbrieven 14 juni 1942